@import "../../global.scss";

.contact {
  background-color: $mainColor;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;
    background-color: white;
    opacity: 0.7;

    img {
      height: 100%;
    }
    @include mobile {
     display: flex;
     justify-content: center;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
      color: $fifthColor;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      
      @include mobile {
        width: 100%;
      }
      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        border-radius: 8px;
        border: 1px solid $mainColor;

        &:focus {
          outline: none;
        }

      }

      textarea {
        border-radius: 8px;
        width: 300px;
        height: 200px;
        font-size: 14px;
        border: 1px solid $mainColor;

        &:focus {
          outline: none;
        }

      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: $forthColor;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          transform: translateY(-2px);
          transition: all 0.2s ease-in;
          font-weight: 600;
        }
      }

      span {
        color: green
      }
    }
  }
}